:root {
  --green: #73ba3c;
  --orange: #f99415;
  --red: #e75a5a;
  --border: 1px solid rgba(151, 158, 162, 0.3);
  --radius: 6px;
  --border-color: rgba(151, 158, 162, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background: #dedede77;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: center;
  background: rgb(109, 189, 255);
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: 90%;
  width: 40%;
}

.heading-for-form {
  align-self: center;
  margin-bottom: 0.2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-area {
  display: flex;
  margin-bottom: 0.4rem;
}

.form-control {
  width: 100%;
  border: var(--border);
  padding: 0.75rem;
  border-radius: var(--radius);
  background: #f7f7f7;
  font-family: inherit;
  transition: 0.22s background;
  outline: none;
  margin-right: 0.1rem;
}

.form-control:focus {
  background: #fff;
}

.form-control.invalid {
  animation: validate 2s;
}

@keyframes validate {
  0% {
    border: 1px solid var(--red);
  }

  50% {
    border: 1px solid var(--red);
  }

  100% {
    border: var(--border);
  }
}

.habbits-cards {
  height: 85%;
  overflow: scroll;
  scrollbar-width: none;
}

.habbit-card {
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 0.7rem;
  padding: 1rem;
  background: #fff;
  transition: 0.4s box-shadow;
  background: #fff;
  border-radius: var(--radius);
  border: var(--border);
  transition: 0.5s height;
}

.habbit-card:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.22);
}

.habbit-type {
  flex: 1.5;
  color: grey;
}

.habbit-title {
  flex: 10;
  display: flex;
  overflow: scroll;
}

.btn {
  font-family: inherit;
  border: 1px solid #ccc;
  background: #f7f7f7;
  border-radius: var(--radius);
  transition: 0.3s background;
  justify-content: center;
  text-align: center;
}

.btn.create {
  align-self: center;
  width: 70%;
  padding: 1rem 0;
}

.btn.edit {
  width: 15%;
  height: 33px;
}

.btn.delete {
  width: 13%;
  height: 33px;
  margin-right: 0.1rem;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #fff;
  cursor: pointer;
}

.empty {
  margin-bottom: 2rem;
  color: grey;
}